/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/





@media  (max-width:380px){

  
}
@media  (min-width:576px){
.header-logo{
    font-size:30px;
}
.header-item{
    font-size: 18px;
}
    
.title{
    font-size: 40px;
  }
}
@media  (min-width:768px){
  
   
}

@media  (min-width:780px){

    
   
}
@media  (min-width:992px){

    
   
}
@media  (min-width:1200px){

}
@media  (min-width:1400px){

}